<div id="map-container"><%= image_tag "us_map.jpg", id: "thanks-map" %>
    <div class="circle" id="WA"></div>
    <div class="circle" id="OR"></div>
    <div class="circle" id="CA"></div>
    <div class="circle" id="ID"></div>
    <div class="circle" id="NV"></div>
    <div class="circle" id="MT"></div>
    <div class="circle" id="WY"></div>
    <div class="circle" id="UT"></div>
    <div class="circle" id="AZ"></div>
    <div class="circle" id="CO"></div>
    <div class="circle" id="NM"></div>
    <div class="circle" id="ND"></div>
<div>