<h2>All Posts</h2>
<ul>
    <% @posts.each do |p| %>
        <li>
            <span><%= link_to p.title, post_path(p) %><br>
            <%= truncate(p.content, length: 75)%></span>
            <span id="likes_count"><%= "ðŸ™ #{p.likes_count}" %></span>
        </li>
    <% end %>
</ul>
