@import "bootstrap";

@grid-columns:              12;
@grid-gutter-width:         30px;
@grid-float-breakpoint:     768px;

#viewer {
    background-color: #D0E0E4;
    color: #181F97;
    height: 100vh;
}

a {
    color: #181F97;
    text-decoration: underline;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 3em;
    text-align: center;
    margin: 1%;
}

.user_greeting_logout {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    right: 30px;
    width: 450px;
    height: 50px;
    font-size: 26px;
    font-weight: 800;
    font-family: monospace;
    padding-top: 5px;
}

#main {
    background-color: #F2F466;
    margin-top: 60px;
    margin-right: 4%;
    padding: 40px;
    height: calc(96vh - 60px);
}

#index_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    min-height: 40px;
    background-color: #DAF2F8;
    border: 3px solid #181F97;
    color: #181F97;
}

#index_nav select {
    display: inline-block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 550;
	color: #181F97;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: .7em;
	border: 3px solid #FFFFFF;
	appearance: none;
    background-color: #DAF2F8;
}

#todays_thanks {
    order: 1;
}
#date_select {
    order: 2;
}
#location_select {
    order: 3;
}
#category_select {
    order: 4;
}

#index_body {
    height: 80%;
    overflow: auto;

}

#post_preview {
    height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.profile_avatar img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

#preview_avatar {
    margin-left: 2em;
}

#preview_avatar img {
    border-radius: 50%;
    max-width: 4em;
    height: auto;
}

#preview_content {
    max-width: 60%;
    margin-left: 2em;
}

#preview_likes {
    display: flex;
    max-width: 6em;
    margin-left: 2em;
    margin-right: 2em;
}

#preview_likes > *{
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #DAF2F8;
    border: 3px solid #FFFFFF;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#nav {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
}

#nav li:hover{
    background-color: #181F97;
}
#nav li:hover a{
    color: #FFFFFF;
}

#nav li {
    margin-bottom: 0px;
    border: 1px solid #FFFFFF;
}

#likes_count {
    font-size: 2em;
    right: 1px;
}