@import "bootstrap";

@grid-columns:              12;
@grid-gutter-width:         30px;
@grid-float-breakpoint:     768px;

#viewer {
    background-color: #D0E0E4;
    color: #181F97;
    height: 100vh;
}

a {
    color: #181F97;
    text-decoration: underline;
}

#site_title a {
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration-line: none;
}

h2 {
    font-family: monospace;
    font-size: 3em;
    text-align: center;
    margin: 1%;
}

.user_greeting_logout {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    right: 30px;
    width: 450px;
    height: 50px;
    font-size: 26px;
    font-weight: 800;
    font-family: monospace;
    padding-top: 5px;
}

.user_greeting_logout a {
    text-decoration-line: none;
}

#main {
    background-color: #F2F466;
    margin-top: 60px;
    margin-right: 4%;
    padding: 40px;
    height: calc(96vh - 60px);
}

#index_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    min-height: 40px;
    background-color: #DAF2F8;
    border: 3px solid #181F97;
    color: #181F97;
}

#index_nav select {
    display: inline-block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 550;
	color: #181F97;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: .7em;
	border: 3px solid #FFFFFF;
	appearance: none;
    background-color: #DAF2F8;
}

#todays_thanks {
    order: 1;
}
#date_select {
    order: 2;
}
#location_select {
    order: 3;
}
#category_select {
    order: 4;
}

#index_body {
    height: 80%;
    overflow: auto;

}

#post_preview {
    height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.profile_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}

.profile_header img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
    margin-right: 4em;
}

.public_body {
    background-color: #DAF2F8;
    border: 1px solid #181F97;
    padding: 20px;
    margin-right: 15%;
    margin-bottom: 30px;
}

.profile_body .label {
    font-weight: bold !important;
    font-size: 1.3em;
    border: 3px solid #FFFFFF;
    padding: 3px;
    margin: 15px;
}

.private_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #DAF2F8;
    border: 1px solid #181F97;
    padding: 20px;
    margin-right: 15%;
    margin-bottom: 30px;
}


#preview_avatar {
    margin-left: 2em;
}

#preview_avatar img {
    border-radius: 50%;
    max-width: 4em;
    height: auto;
}

#preview_content {
    max-width: 60%;
    margin-left: 2em;
}

#preview_likes {
    display: flex;
    max-width: 6em;
    margin-left: 2em;
    margin-right: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #DAF2F8;
    border: 3px solid #FFFFFF;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#activity {
    position: absolute;
    bottom: 30px;
    align-content: center;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    height: 40vh;
    overflow: auto;
}

#activity .pane {
    background-color: #F2F466;
    padding: 15px;
    width: 80%;
    font-size: .7em;
}

#activity li {
    background-color: #F2F466;
    border: 1px solid #181F97;
}

.pane_heaader {
    position: absolute;
    top: 0px;
}
#activity > .pane > .pane_body {
    height: 75%;
}

#nav {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
}

#nav li:hover{
    background-color: #181F97;
}
#nav li:hover a{
    color: #FFFFFF;
}

#nav li {
    margin-bottom: 0px;
    border: 1px solid #FFFFFF;
}

#likes_count {
    font-size: 2em;
    right: 1px;
}

#post_calendar {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: #DAF2F8;
    border: 2px solid #181F97;
}

#post_calendar th {
    font-size: 1.5em;
}

#post_calendar tbody {
}

#post_calendar td {
    width: 3vw;
    height: 3vw;
    border: 1px solid #181F97;
    text-align: center;
    font-size: 2vw;
}

td:empty::after{
    content: "\00a0";
}